/* emplist class */
.emplist {
  margin: 0 0 .3em 0;
  list-style-type: none;
  padding: 0;
  width: 50em;
}
.emplist li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .1em;
  padding: .0em 0;
  border-radius: 1px;
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}