
<div style="width: 100vw;">
    <div  *ngFor="let nextManager of managerChain" class="managerchain" 
          (click)="managerClicked(nextManager.getFullName())">
          {{nextManager.getFullName()}}
          <img src="small_arrow.png" />
    </div>
</div>
<br>
<ul>
    <li class="emplist" *ngFor="let employee of employees" 
        [style.margin-left.px]="getIndent(employee)" >
        <div *ngIf="employee.team != ''" (click)="managerClicked(employee.name)"
             class="managerchain">
             {{ employee.name}} - {{ employee.title }} &nbsp;&nbsp;
             <b> ({{employee.team}})</b>
        </div>
        <div *ngIf="employee.team == ''" class="nonmanager">
             {{ employee.name}} - {{ employee.title }} 
        </div>
    </li>
</ul>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
